body{


    .container-fluid {
        display: flex;
    }

    .sidebar {
        flex: 0 0 auto;
        width: 0;
        background-color: #f1f1f1;
        transition: width 0.3s;
        overflow: hidden;
    }

    .sidebar.show {
        width: 200px;
    }

    .content {
        flex-grow: 1;
        background-color: #fff;
        transition: margin-left 0.3s;
        padding: 20px;
    }

    .sidebar.show + .content {
        margin-left: 200px;
    }
    .sidebar.show {
        background-color: #5a9ec8;
    }
}